```{=html}
<div class='sponsorsFooter'>
      <h1 id="sponsorTitle" data-default-title="<strong>Our Sponsors</strong>"><strong>Our Sponsors</strong></h1>
      <ul>
        <% for (const item of items) { %>
							<li><a href="<%- item.href %>" class="sblogos__link"><img class="sblogos__img" src="<%- item.thumbnail %>" alt="sponsor logo" /></a></li>
        <% } %>
      </ul>
    </div>
</div>
```